<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aleksandr Mission Control</title>
    <script src="{{ url_for('static', filename=openmct_dir + 'openmct.js') }}"></script>
</head>
<body>
<script>
    openmct.setAssetPath('{{ url_for('static', filename=openmct_dir) }}');
    openmct.install(openmct.plugins.LocalStorage());
    openmct.install(openmct.plugins.MyItems());
    openmct.install(openmct.plugins.UTCTimeSystem());
    openmct.install(openmct.plugins.Espresso());

    openmct.start();
</script>
</body>
</html>
